body {
    background-color: black;
}

.slate {
    background-color: #6c757d;
    border-radius: 15px;
    border: 10px solid floralwhite;
    margin: 30px;
    display: inline-flex;
    flex-direction: column;
}

.lamp {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: lawngreen;
}

.yellow {
    background-color: orange;
}

.off {
    background-color: black;
}
